@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary-700: '#D87D4A',
}

main {
    min-height: calc(100vh - 280px);
}

/* Typography */

.text-body {
    font-size: 0.9375rem;
    font-weight: 500;
    line-height: 25px;
}

.overline {
    color: var(--primary-700);
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.625em;
    text-transform: uppercase;
}

.subtitle {
    color: var(--primary-700);
    font-size: 0.8125rem;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.subtitle {
    color: var(--primary-700);
    font-size: 0.8125rem;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.heading-1 {
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 3.625;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.heading-2 {
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

.heading-3 {
    font-size: 2rem;
    font-weight: 700;
    line-height: 2.25;
    letter-spacing: 1.15px;
    text-transform: uppercase;
}

.heading-4 {
    font-size: 1.75rem;
    font-weight: 700;
    line-height: 2.375;
    letter-spacing: 1.7px;
    text-transform: uppercase;
}

.heading-5 {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 2;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.heading-6 {
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 1.3px;
    text-transform: uppercase;
}

@media screen and (max-width: 480px) {

    .heading-2 {
        font-size: 1.75rem;
        line-height: 38px;
        letter-spacing: 1px;
    }

}